<html>
<head>

<script type="text/javascript">
document.getElementById("category_naseptavacDiv").style.visibility = "hidden";
var lastSelected;

function GetKeyCode(e) {
  if (e) {
    return e.charCode ? e.charCode : e.keyCode;
  }
  else {
    return window.event.charCode ? window.event.charCode : window.event.keyCode;
  }
} 

function generujNaseptavac(name, e) {
  var unicode = GetKeyCode(e);
  var str = document.getElementById(name+"_inputText").value;
  if (unicode != 38 && unicode != 40 && str != lastSelected) {
    if (str != "") {
      if (window.ActiveXObject) {
      httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
      } else {
        httpRequest = new XMLHttpRequest();
      }
      var url = "/suggest?key="+name+"&text=" + encodeURI(str);
      httpRequest.open("GET", url, true);     
      httpRequest.onreadystatechange= function () {processRequest(name); } ;
      httpRequest.send(null);     
    }
    else {     
      document.getElementById(name+"_naseptavacDiv").style.visibility = "hidden";
    }
  }
}

function posunNaseptavac(name, e) {
  var unicode = GetKeyCode(e);
  var naseptavac = document.getElementById(name+"_naseptavac");
  if (unicode == 40) {
    naseptavac.options.selectedIndex = 
      naseptavac.options.selectedIndex >= 0 && 
      naseptavac.options.selectedIndex < naseptavac.options.length-1 ?
      naseptavac.options.selectedIndex+1 : 0;
    getChangeHandler(name);
    return;
  }
  else if (unicode == 38) {
    naseptavac.options.selectedIndex = 
      naseptavac.options.selectedIndex > 0 ? 
      naseptavac.options.selectedIndex-1 : naseptavac.options.length-1;
    getChangeHandler(name);
    return;
  }
  else if (unicode == 13) {
    lastSelected = document.getElementById(name+"_inputText").value;
    if (window.event)
      e.returnValue = false;
    else
      e.preventDefault();
    document.getElementById(name+"_naseptavacDiv").style.visibility = "hidden";
  }
} 

function processRequest(name) {
  if (httpRequest.readyState == 4) {
    if(httpRequest.status == 200) {
      var response = httpRequest.responseText;
      if (response == 'EMPTY') {
        document.getElementById(name+"_naseptavacDiv").style.visibility = "hidden";
      }
      else {        
        document.getElementById(name+"_naseptavacDiv").innerHTML = response;
        document.getElementById(name+"_naseptavac").size =
          document.getElementById(name+"_naseptavac").options.length;
        document.getElementById(name+"_naseptavacDiv").style.visibility = "visible";
      } 
    }
    else {
      alert("error"+ httpRequest.status +":"+ httpRequest.statusText);
    }
  }
}

function getChangeHandler(name) {
  var select = document.getElementById(name+"_naseptavac");
  var nazev = select.options[select.selectedIndex].innerHTML;
  document.getElementById(name+"_inputText").value = nazev.replace(/\&amp;/g,'&');
}
 
function getResultClickHandler(name) {
  getChangeHandler(name);
  lastSelected = document.getElementById(name+"_inputText").value;  
  document.getElementById(name+"_naseptavacDiv").style.visibility = "hidden";
} 

function hide_the_shit(name) {
  document.getElementById(name+"_naseptavacDiv").style.visibility = "hidden";
} 

</script>

</head>
<body>

<form method='get'>

<table><tr>
<td>show last <input name='show_last' type='text' value='$show_last' size='2'> records</td>
<td><a href='/report'>report</a></td>
<td><a href='/logout'>logout</a></td>
</tr></table>

<p>
$message
</p>


<table>
<tr>
<th>id</th>
<th>date</th>
<th>category</th>
<th>note</th>
<th>amount</th>
<th>date_until</th>
</tr>

#for $i in $itemss
<tr><td>$i[0]</td><td>$i[1]</td><td>$i[2]</td><td>$i[3]</td><td>$i[4]</td></tr>
#end for

<tr>
<td></td>
<td><input name='date' type='text' value='$date' size='10'></td>
<td>
<input name='category' type='text' value='$category' size='10'
id="category_inputText" autocomplete="off"
onKeyUp="generujNaseptavac('category', event);"
onKeyDown="posunNaseptavac('category', event);"
onBlur="hide_the_shit('category');">
<div id="category_naseptavacDiv"></div>
</td>
<td><input name='note' type='text' value='$note' size='10'></td>
<td><input name='amount' type='text' value='$amount' size='5'></td>
<td><input name='date_until' type='text' value='$date_until' size='10'></td>
</tr>

</table>

<input type='submit'>

</form>

</body>
</html>
