<html>
<body>

<p>
$message
</p>

<form method='get'>

<table>
<tr><td>username:</td><td><input name='username' type='text' value='$username'></td></tr>
<tr><td>password:</td><td><input name='password' type='text' value='$password'></td></tr>
</table>

<input type='submit'>

</form>

</body>
</html>
